body {
    background-color: white;
    color: red;
	font-family: 'PerunRegular';
    font-weight: normal;
    font-style: normal;
}
h1 {
	text-align:center; 
	color: black;
	}
.zaglavie_1 
    {
	font-family:serif;
	color:#595959;
    }
.oranjevo 
    {
	text-align:center;
	color: #dcc988;
	font-family:"sans-serif";
	}
.tekstove-bape 
	{
	color: #c7b35e;
	
	}
#bape   
	{
	color: #5f431f;
	}

.tekstove-cherni 
    {
	color: black;
	}

header{
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
	position: fixed;
	z-index: 999;
	width: 100%;
}
nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}
nav a{
	color: white;
	text-decoration: none;
	font-size: 1.0rem;
	text-transform: uppercase;
}
nav a:hover {
	color: #dcc988;
}
.resize {
    width: 200px;
    height: auto;
}
.nav-link {
text-align:center;
}


